APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_URL=http://app.kabooodle.dev
APP_NAME=Kabooodle


DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kabooodle
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

NEXMO_KEY=
NEXMO_SECRET=

SHIPPO_PRIVATE=

MAIL_DRIVER=smtp
MAIL_HOST=smtp.postmarkapp.com
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls

POSTMARK_KEY=

CASHIER_ENV=testing

SESSION_DOMAIN=app.kabooodle.dev
API_DOMAIN=api.kabooodle.dev

ALGOLIA_ID=
ALGOLIA_KEY=

PUSHER_ID=
PUSHER_KEY=
PUSHER_SECRET=

STRIPE_KEY=
STRIPE_SECRET=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

AWS_KEY=
AWS_SECRET=
AWS_REGION=
AWS_CLOUDFRONT_DISTRIBUTION=

LEAGUE_TINY_KEY=u3oizTq6DYcNnHrshEKy4WIwt271g9vpMQeFBmZdVCO0aAXS8JLjRPkblf5UxG
