APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:qC/8KoBZMMvclsmQRnzrS1nMg6EUCm0MCGvv1Cqep+A=
APP_URL=https://www.kabooodle.com
APP_NAME=Kabooodle
SESSION_DOMAIN=.kabooodle.dev
API_DOMAIN=api.kabooodle.com

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kabooodle
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=database

NEXMO_KEY=
NEXMO_SECRET=
NEXMO_FROM=
NEXMO_BRAND=Kabooodle

SHIPPO_PRIVATE=

MAIL_DRIVER=smtp
MAIL_HOST=smtp.postmarkapp.com
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls

MAILCHIMP_APIKEY=5c715ecc10f4acd09a4f2f8d2925f8df-us14
MAILCHIMP_LIST_ID=768ed81d67

POSTMARK_KEY=

CASHIER_ENV=testing



ALGOLIA_ID=
ALGOLIA_KEY=

PUSHER_CONNECTION=main
PUSHER_ID=
PUSHER_KEY=
PUSHER_SECRET=

STRIPE_KEY=
STRIPE_SECRET=

FACEBOOK_APP_ID=1737878439856693
FACEBOOK_APP_SECRET=ca3785d688ea443329cb8af89e4692fa

AWS_KEY=
AWS_SECRET=
AWS_REGION=
AWS_CLOUDFRONT_DISTRIBUTION=
AWS_BUCKET=kabooodle-storage-local
AWS_USE_CLOUDFRONT=false

BUGSNAG_API_KEY=
BUGSNAG_NOTIFY_RELEASE_STAGES=production

LEAGUE_TINY_KEY=u3oizTq6DYcNnHrshEKy4WIwt271g9vpMQeFBmZdVCO0aAXS8JLjRPkblf5UxG

IRON_QUEUE_TOKEN=mFoYaCnJhgb4cFR3G2ns
IRON_QUEUE_ID=584df1acbccbd80006c37e75