<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutOutputDuringTests="true"
         bootstrap="tests/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         failOnRisky="false"
         failOnWarning="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/Unit/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/Integration/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <file>./routes/api/routes.php</file>
                <file>./routes/web/routes.php</file>
                <file>./routes/workers/routes.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value="Vern1484!"/>
        <env name="DB_DATABASE" value="kabooodle_unittesting"/>
    </php>
</phpunit>
