container_commands:
    01-migration:
        command: "php /var/app/ondeck/artisan migrate --force > /tmp/artisan-migrate.log"
        leader_only: true
    02-clear-compiled:
        command: "php /var/app/ondeck/artisan clear-compiled"
    03-optimize:
        command: "php /var/app/ondeck/artisan optimize --force"