html, body {
  background-color: #fff; }

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

.section {
  height: 52rem;
  padding: 50px 0;
  postion: relative; }
  .section.section-w-bg {
    position: relative;
    overflow: hidden; }
    .section.section-w-bg .section-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      top: 0;
      left: 0; }
  .section .section-title {
    position: relative;
    font-family: 'Kreon', serif;
    font-size: 70px;
    line-height: 120px; }
  .section .section-sub-title {
    position: relative;
    font-size: 24px;
    margin-bottom: 50px;
    line-height: 46px; }

.card-centered {
  text-align: center; }
  .card-centered .card-img-top {
    margin: 0 auto; }

.card-as-list {
  clear: both;
  margin-bottom: 65px; }
  .card-as-list .card-icon {
    width: 100px;
    float: left; }
    .card-as-list .card-icon img {
      height: 100px;
      width: 100px; }
  .card-as-list .card-block {
    width: 400px;
    float: left;
    padding-top: 0; }
  .card-as-list .card-title {
    margin-top: 0; }
  .card-as-list .card-text {
    font-size: 1.1rem;
    line-height: 1.9rem; }

.card-lg .card-title {
  margin: 50px 0; }

.hero {
  padding: 0; }
  .hero .section-bg {
    background: transparent url(/assets/images/home/section_hero_bg.jpg) top center no-repeat;
    background-size: cover; }
  .hero .hero-header {
    padding-top: 42px; }
  .hero .navbar-nav .nav-item {
    color: #dedede; }
    .hero .navbar-nav .nav-item:hover {
      color: #fff; }
  .hero .hero-inner {
    position: relative;
    max-width: 44em;
    padding-top: 40px; }
  .hero .section-title {
    margin-bottom: 15px;
    font-size: 100px;
    color: white;
    font-weight: 700; }
  .hero .section-sub-title {
    font-size: 30px;
    color: white;
    line-height: 50px;
    max-width: 16em; }
    .hero .section-sub-title .sub-title-more {
      background: url(/assets/images/home/lines.png) center bottom no-repeat;
      height: 20px;
      white-space: nowrap;
      padding-bottom: 20px;
      font-weight: 700; }
  .hero .cta.btn {
    background-color: #9446ed;
    color: #fff;
    font-weight: 600; }

@media (max-width: 992px) {
  .hero .hero-inner {
    max-width: 36em; }
  .hero .section-title {
    font-size: 70px;
    line-height: 100px;
    margin-bottom: 50px; }
  .hero .section-sub-title {
    font-size: 26px;
    line-height: 50px;
    max-width: 16em; } }

.section-solutions {
  height: 104rem; }
  .section-solutions .wrapper-border {
    border: 2px solid #eeeff2; }
  .section-solutions .section-title,
  .section-solutions .card-title {
    color: #565f7e; }
  .section-solutions .section-sub-title {
    color: #bcbfd1; }
  .section-solutions .card-title {
    font-weight: 600; }
  .section-solutions .card-text {
    color: #687296; }

.section-pricing {
  height: 58rem; }
  .section-pricing .section-bg {
    background: transparent url(/assets/images/home/section_pricing_bg.jpg) top center no-repeat;
    background-size: cover; }
  .section-pricing .section-title {
    color: #fff;
    position: relative; }
  .section-pricing .section-sub-title {
    position: relative;
    color: #c7eedf; }
  .section-pricing .col-bg {
    background: transparent url(/assets/images/home/pricing_col_bg.png) repeat; }
  .section-pricing .row-eq-height {
    display: -webkit-flex;
    display: flex; }
  .section-pricing .row-pricing {
    margin-top: 50px; }
  .section-pricing .col-price {
    padding: 15px 0 0 0;
    margin: 0 12px; }
    .section-pricing .col-price .subscription-name {
      text-transform: uppercase;
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 50px; }
    .section-pricing .col-price .the-price {
      color: #fff;
      font-family: Kreon, serif;
      font-weight: 700;
      font-size: 90px;
      margin-bottom: 50px; }
    .section-pricing .col-price .features {
      margin: 0;
      padding: 0; }
      .section-pricing .col-price .features li {
        font-size: 19px;
        list-style-type: none;
        text-align: center;
        color: #fff;
        margin: 0 0 10px 0; }
  .section-pricing .col-price-basic {
    margin-top: 100px;
    height: 558px; }
  .section-pricing .col-price-merchant {
    margin-top: 50px;
    height: 608px; }
  .section-pricing .col-price-merchant-plus {
    margin-top: 0px;
    height: 658px; }
  .section-pricing .try-wrapper {
    text-align: center;
    margin: 20px auto 0; }

.section-services .section-title,
.section-services .card-title {
  color: #565f7e; }

.section-services .section-sub-title {
  color: #bcbfd1; }

.section-services .card-title {
  font-weight: 600; }

.section-services .card-text {
  color: #687296;
  font-size: 1.1rem;
  line-height: 1.9rem; }

.section-about .section-bg {
  background: transparent url(/assets/images/home/section_about_bg.jpg) top center no-repeat;
  background-size: cover; }

.section-about .section-title {
  color: #fff; }

.section-about .section-sub-title {
  color: #dda8d7;
  margin: 0 auto;
  width: 70rem; }

.section-about .row-stats {
  margin-top: 145px; }
  .section-about .row-stats .stat-title {
    color: #fff;
    font-family: Kreon, serif;
    font-size: 200px;
    margin-bottom: 0px;
    line-height: 180px; }
  .section-about .row-stats .stat-subtitle {
    color: #dda8d7;
    font-size: 34px; }

.section-ready {
  height: 30rem; }
  .section-ready .section-bg {
    background: transparent url(/assets/images/home/section_ready_bg.jpg) top center no-repeat;
    background-size: cover; }
  .section-ready .section-title {
    color: #fff; }
  .section-ready .section-sub-title {
    color: #cdc8eb; }
  .section-ready .cta-group {
    position: relative; }
    .section-ready .cta-group .btn {
      width: 240px;
      color: #fff;
      font-weight: 700; }
      .section-ready .cta-group .btn:last-of-type {
        margin-left: 25px; }
    .section-ready .cta-group .btn.cta-ready {
      background: #30c283;
      margin: 0 auto; }
    .section-ready .cta-group .btn.cta-questions {
      background: #9446ed; }

.section-footer {
  display: table-row; }

.navbar-collapse.show {
  display: block !important; }

.navbar-collapse:before,
.navbar-collapse:after,
.navbar-nav:before,
.navbar-nav:after {
  content: " ";
  display: table; }

@media (max-width: 991px) {
  .section {
    padding: 15px 1rem; } }

@media (max-width: 1199px) {
  .section {
    height: 52rem; }
  .hero .hero-inner {
    max-width: 36em;
    padding-top: 18px; }
  .hero .hero-header {
    padding-top: 22px; }
  .hero .section-title {
    font-size: 70px;
    font-size: 70px;
    line-height: 100px;
    margin-bottom: 50px; }
  .hero .section-sub-title {
    font-size: 26px;
    line-height: 50px;
    max-width: 16em; }
  .section-solutions {
    height: 136rem; }
    .section-solutions .card-as-list {
      text-align: center;
      margin-bottom: 35px; }
      .section-solutions .card-as-list .card-block {
        padding: 1.25rem .25rem; }
      .section-solutions .card-as-list .card-icon {
        margin: 0 auto;
        float: none; }
  .section-pricing .col-price .subscription-name {
    font-size: 14px;
    margin-bottom: 20px; }
  .section-pricing .col-price .the-price {
    font-size: 60px;
    margin-bottom: 20px; }
  .section-services .card-block {
    padding: 0 1rem; }
  .section-services .card-title {
    margin: 30px 0; }
  .section-about .row-stats .stat-title {
    font-size: 150px;
    line-height: 120px; }
  .section-about .row-stats .stat-subtitle {
    font-size: 22px; }
  .section-ready {
    height: 25rem; } }

@media (max-width: 767px) {
  .navbar-nav {
    float: none;
    display: block;
    text-align: center; }
    .navbar-nav .nav-item {
      float: none;
      display: block; }
      .navbar-nav .nav-item + .nav-item {
        margin-left: 0; }
      .navbar-nav .nav-item a {
        padding: 10px 0;
        display: block; }
  .section .section-title {
    font-size: 50px;
    line-height: 100px; }
  .section .section-sub-title {
    font-size: 20px; }
  .hero .hero-inner {
    max-width: 36em;
    padding-top: 8px; }
  .hero .section-title {
    font-size: 66px;
    line-height: 90px;
    margin-bottom: 50px; }
  .hero .section-sub-title {
    font-size: 22px;
    line-height: 40px;
    max-width: 16em; }
  .section-solutions {
    height: 212rem; }
    .section-solutions .card-as-list {
      text-align: center;
      margin-bottom: 35px; }
      .section-solutions .card-as-list .card-block {
        padding: 0 0 1.25rem 0;
        width: 100%; }
  .section-pricing {
    height: 106rem; }
    .section-pricing .row-eq-height {
      display: block; }
    .section-pricing .col-price {
      padding-bottom: 25px;
      margin: 0 auto 25px;
      width: 90%;
      float: none;
      height: auto !important; }
      .section-pricing .col-price .subscription-name {
        font-size: 14px;
        margin-bottom: 20px; }
      .section-pricing .col-price .features li {
        font-size: 18px;
        line-height: 26px; }
  .section-services {
    height: 88rem; }
    .section-services .card {
      margin-bottom: 2rem; }
    .section-services .card-block {
      padding: 0 1rem; }
    .section-services .card-title {
      margin: 30px 0; }
  .section-about {
    height: 36rem; }
    .section-about .section-sub-title {
      width: 90%; }
    .section-about .row-stats {
      margin-top: 80px; }
    .section-about .row-stats .stat-title {
      font-size: 120px;
      line-height: 90px; }
    .section-about .row-stats .stat-subtitle {
      font-size: 19px; }
  .section-ready {
    height: 22rem; } }

@media (max-width: 575px) {
  .section .section-title {
    font-size: 50px;
    line-height: 100px; }
  .section .section-sub-title {
    font-size: 20px; }
  .hero .hero-inner {
    max-width: 36em;
    padding-top: 8px; }
  .hero,
  .hero .section-title {
    font-size: 66px;
    line-height: 90px;
    margin-bottom: 50px; }
  .hero .section-sub-title {
    font-size: 22px;
    line-height: 40px;
    max-width: 16em; }
  .section-solutions {
    height: 216rem; }
    .section-solutions .card-as-list {
      text-align: center;
      margin-bottom: 35px; }
      .section-solutions .card-as-list .card-block {
        padding: 0 0 1.25rem 0;
        width: 100%; }
  .section-pricing {
    height: 112rem; }
    .section-pricing .col-price .subscription-name {
      font-size: 14px;
      margin-bottom: 20px; }
    .section-pricing .col-price .features li {
      font-size: 16px;
      line-height: 26px; }
  .section-services {
    height: 92rem; }
    .section-services .card {
      margin-bottom: 2rem; }
    .section-services .card-block {
      padding: 0 1rem; }
    .section-services .card-title {
      margin: 30px 0; }
  .section-about {
    height: 40rem; }
    .section-about .row-stats .stat-title {
      font-size: 80px;
      line-height: 90px; }
    .section-about .row-stats .stat-subtitle {
      font-size: 19px; }
  .section-ready {
    height: 22rem; } }

@media (max-width: 543px) {
  .section .section-title {
    font-size: 50px;
    line-height: 100px; }
  .section .section-sub-title {
    font-size: 20px; }
  .hero .hero-inner {
    max-width: 36em;
    padding-top: 8px; }
  .hero,
  .hero .section-title {
    font-size: 66px;
    line-height: 90px;
    margin-bottom: 50px; }
  .hero .section-sub-title {
    font-size: 22px;
    line-height: 40px;
    max-width: 16em; }
  .section-solutions {
    height: 228rem; }
    .section-solutions .card-as-list {
      text-align: center;
      margin-bottom: 35px; }
      .section-solutions .card-as-list .card-block {
        padding: 0 0 1.25rem 0;
        width: 100%; }
  .section-pricing {
    height: 112rem; }
    .section-pricing .col-price .subscription-name {
      font-size: 14px;
      margin-bottom: 20px; }
    .section-pricing .col-price .features li {
      font-size: 16px;
      line-height: 26px; }
  .section-services {
    height: 92rem; }
    .section-services .card {
      margin-bottom: 2rem; }
    .section-services .card-block {
      padding: 0 1rem; }
    .section-services .card-title {
      margin: 30px 0; }
  .section-about {
    height: 60rem; }
    .section-about .row-stats {
      margin-top: 60px; }
    .section-about .row-stats .stat-title {
      font-size: 80px;
      line-height: 90px;
      margin-top: 30px; }
    .section-about .row-stats .stat-subtitle {
      font-size: 19px; }
  .section-ready {
    height: 22rem; } }

@media (max-width: 480px) {
  .section .section-title {
    font-size: 50px;
    line-height: 70px; }
  .section .section-sub-title {
    font-size: 18px;
    line-height: 28px; }
  .hero .hero-inner {
    max-width: 36em;
    padding-top: 8px; }
  .hero,
  .hero .section-title {
    font-size: 66px;
    line-height: 90px;
    margin-bottom: 50px; }
  .hero .section-sub-title {
    font-size: 22px;
    line-height: 40px;
    max-width: 16em; }
  .section-solutions {
    height: 230rem; }
    .section-solutions .card-as-list {
      text-align: center;
      margin-bottom: 35px; }
      .section-solutions .card-as-list .card-block {
        padding: 0 0 1.25rem 0;
        width: 100%; }
  .section-pricing {
    height: 106rem; }
    .section-pricing .row-eq-height {
      display: block; }
    .section-pricing .col-price {
      margin: 0 auto 25px;
      width: 90%;
      float: none;
      height: auto !important;
      padding-bottom: 25px; }
      .section-pricing .col-price .subscription-name {
        font-size: 14px;
        margin-bottom: 20px; }
      .section-pricing .col-price .features li {
        font-size: 16px;
        line-height: 26px; }
  .section-services {
    height: 90rem; }
    .section-services .card {
      margin-bottom: 2rem; }
    .section-services .card-block {
      padding: 0 1rem; }
    .section-services .card-title {
      margin: 30px 0; }
  .section-about {
    height: 56rem; }
    .section-about .row-stats {
      margin-top: 60px; }
    .section-about .row-stats .stat-title {
      font-size: 80px;
      line-height: 90px;
      margin-top: 30px; }
    .section-about .row-stats .stat-subtitle {
      font-size: 19px; }
  .section-ready {
    height: 24rem; }
    .section-ready .cta-group .btn,
    .section-ready .cta-group .btn:last-of-type {
      margin: 0; }
    .section-ready .cta-group .btn {
      margin-bottom: 10px !important; } }

@media (max-width: 400px) {
  .section-solutions {
    height: 246rem; }
  .section-pricing {
    height: 94rem; }
  .section-services {
    height: 95rem; }
  .section-pricing {
    height: 106rem; }
  .section-about {
    height: 58rem; }
  .section-ready {
    height: 28rem; } }

@media (min-width: 768px) {
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    width: auto;
    border-top: 0;
    box-shadow: none;
    overflow: visible !important; }
  .navbar-collapse {
    border-top: 0;
    box-shadow: none; }
  .navbar-toggler {
    display: none; } }

/*# sourceMappingURL=home.css.map */
